.navbar{
    display: flex;
    justify-content: space-around;
    height:"80px";
    /* background-color: lightcoral; */
}
.left-nav{
    width: 60%;
    justify-content: space-between;
    align-items: center;
    
   
    display: flex;
}

.right-nav{
    display: flex;
    width: 8%;
    justify-content: space-around;
    align-items: center;

}
/* .border-bottom{
height: 2px;
background-color: grey;
width: 87%;
margin:auto;
} */
.border-bottom{
    width:87%;
}
.preview-image{
    width:500px;
}
.preveiw-image img{
     width: 86%;
}
.product-container{
    display: flex;
    /* border: 2px solid; */
    margin-top: 50px;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    justify-content: space-between;
}
.thumbnanil-images{
    width: 400px;
    display:flex;
    justify-content: space-between;
    /* border-radius: 10px; */
}
#first-child{
    border:2px solid orange;
    opacity:0.4;
}
.product-description{
    width:61%;
    margin-left : 5%;
    margin-top: 6%;
    border: 2px solid;

}
.title{
    text-transform: uppercase;
    color: orange;
    font-size: 16px;
    font-weight: 900;
}